#files to be ignored
~
*.fakes
*.fakes.*
Deployment/unzip/
[Dd]ebug*/
obj/
bin/
[Rr]elease*/
_ReSharper*/
unzip/**
[Bb]uild[Ll]og.*
*.userprefs
*.obj
*.pdb
*.user
*.pch
*.vspscc
*.vssscc
*.pidb
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.[Rr]e[Ss]harper
*.[Pp]ublish.xml
*.webtestresult
*.vshost.exe
!*.exe
*.nupkg
packages/*
.vs/*
.idea/*
